In [1]:
import pandas as pd

In [2]:
# import transcript data
episode_df = pd.read_parquet("~/grimoire/this-viz-will-kill-you/data/raw/episode_df.parquet")

# validate output
print(episode_df.shape)
display(episode_df["episode_id"].unique())
display(episode_df.head())

(165, 13)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165])

,episode_id,episode_name,text,wash_your_hands,vaccine,bacteria,virus,fungi,parasite,ticks,pandemic,epidemic,processed_text
0,1,TPWKY-Episode-95-Tetanus,hey everyone were including a content warning ...,True,True,True,True,False,False,False,True,False,"[everyone, including, content, warning, firsth..."
1,2,TPWKY-Bonus-Episode-Ed-Yong,hi im erin welsh and this is this podcast will...,False,False,False,False,False,False,False,True,False,"[erin, welsh, podcast, kill, welcome, everyone..."
2,3,TPWKY-Episode-88-Endometriosis,this is exactly right hi my name is susie from...,True,False,False,False,False,False,False,False,True,"[exactly, right, name, susie, pretty, young, a..."
3,4,TPWKY-Episode-119-Marburg-Virus,the laboratory assistant marga k had worked si...,True,True,True,True,False,False,False,True,True,"[laboratory, assistant, marga, k, worked, sinc..."
4,5,TPWKY-Episode-61-Typhoid,this is exactly right number one the camp at c...,True,True,True,True,False,True,False,True,True,"[exactly, right, number, one, camp, chickamaug..."

In [3]:
# 'splode the dataframe so that each word is a row - this is specifically to get the data into a format Tableau will like
word_cloud_df = episode_df.explode("processed_text").rename(columns={"processed_text": "word"}).drop(columns="text")

# group by each word and count the # of occurences
word_cloud_df = word_cloud_df.groupby(["episode_id", "episode_name", "word"]).size().reset_index(name="count")

# sort by by count descending
word_cloud_df = word_cloud_df.sort_values(by=["episode_id","count"], ascending=False)

# set up the value to filter the dataframe
n = 10 # can be adjusted as needed

# filter the dataframe
word_cloud_df = word_cloud_df.loc[word_cloud_df["count"] >= n]

# check output
display(word_cloud_df.head())

        episode_id             episode_name      word  count
286112         165  Ch5_Vaccines_Transcript      know     91
286620         165  Ch5_Vaccines_Transcript   vaccine     56
286621         165  Ch5_Vaccines_Transcript  vaccines     51
286399         165  Ch5_Vaccines_Transcript     right     31
286558         165  Ch5_Vaccines_Transcript     think     30

In [4]:
# get simple metrics for validation
print(word_cloud_df.shape)
display(word_cloud_df["episode_id"].unique())
display(word_cloud_df.head())

# save to drive
word_cloud_df.to_parquet("~/grimoire/this-viz-will-kill-you/data/tidy/word_cloud_df.parquet")

(13952, 4)

array([165, 164, 163, 162, 161, 160, 159, 158, 157, 156, 155, 154, 153,
       152, 151, 150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140,
       139, 138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127,
       126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114,
       113, 112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101,
       100,  99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,
        87,  86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,
        74,  73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,
        61,  60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,
        48,  47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,
        35,  34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,
        22,  21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,
         9,   8,   7,   6,   5,   4,   3,   2,   1])

        episode_id             episode_name      word  count
286112         165  Ch5_Vaccines_Transcript      know     91
286620         165  Ch5_Vaccines_Transcript   vaccine     56
286621         165  Ch5_Vaccines_Transcript  vaccines     51
286399         165  Ch5_Vaccines_Transcript     right     31
286558         165  Ch5_Vaccines_Transcript     think     30

In [5]:
# save the word cloud df to csv for Tableau
word_cloud_df.to_csv("~/grimoire/this-viz-will-kill-you/data/publish/word_cloud_df.csv")